<div class="col-md-6 grid-item ">
   <div class="card {{post_class}} h-100 d-flex">
      <div class="row h-100">
         {{#if feature_image}}
            <div class="col-12 col-lg-5 wrapthumbnail">
               <a href="{{url}}">
               <div class="thumbnail" style="background-image:url({{feature_image}});">
               </div>
               </a>
            </div>
         {{/if}}
         <div class="col-12 col-lg-7 {{#unless feature_image}} col-lg-12 no-featured-image {{/unless}}">
            <div class="card-body pl-lg-0 pb-0">
               <h2 class="card-title"><a href="{{url}}">{{title}}</a></h2>
               <h4 class="card-text">{{excerpt words="26"}}...</h4>        
            </div>
            <div class="card-footer">
               <div class="wrapfooter">
                  <div class="d-flex align-items-center">                
                     <div class="author-meta d-inline">                  
                        <span class="post-date">
                           <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"> {{date format="DD MMMM YYYY"}}  </time> 
                        </span>
                     </div>
                     <span class="post-read-more ml-auto">
                        <a href="{{url}}" title="{{t "Read Story"}}"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a>
                     </span>                
                  </div>          
               </div>
            </div>
         </div>
      </div>
   </div>
</div>